body{
    background-color: whitesmoke;
}
.transparent{
    background: rgba(164, 206, 195, 0.4)
}
.transparentGreen{
    background: rgba(121, 196, 119, 0.4)
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section {
  position: relative;
  max-width: 920px;
  min-height: 75vh;
  padding: 40px;
  margin: auto;
  background-color: #48c9b0;
  color: #ffffff;
}
.section.bg-static {
  background-color: #85c1e9;
  background-image: url("https://www.dropbox.com/s/v4u0mpzfplgjxaq/img-blog-background-move-scrolling-bg.png?raw=1");
  background-size: cover;
  background-position: center;
}
.section .bg-move {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  background-image: url("https://www.dropbox.com/s/isdqow2394y3t35/img-blog-background-move-scrolling-boat.png?raw=1");
  background-size: cover;
  background-position: center;
}